.DS_Store
.venv/
.cache/
.vscode/

__pycache__/
notebooks/
best_model/
logs/
prediction/
results/
saved/
wandb/
configs/
TC_Competition/
output/
data/
eda/

config*.yaml
!config.yaml
nohup*.out
output*.log
